<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <Appenders>
        <!-- 콜솔 -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"  pattern="%highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green bold, DEBUG=green bold, TRACE=green}"/>
        </Console>
    </Appenders>

    <loggers>
        <root level="trace" additivity="true">
            <AppenderRef ref="console"/>
        </root>
    </loggers>

</configuration>
